*{ margin: 0%;
    padding: 0%;
    overflow-x: hidden;
   font-family: 'Abel', sans-serif;
 }
 /*HEADER*/
 h1 {
    color: orange;
    text-align: center;
    font-weight: bold;
    
}
.gallery__Item img{
    max-width: 320px;
    border-radius: 50%;
    padding: 10px;
    
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 10%;
 
  
}
h2{
    text-align: center;
}
 /*Nav*/
 nav{margin: auto;}

 .navbar-brand{ border-radius: 40%;}
 /*carrousel*/
 

 /*footer*/
 
 footer{ background-color: black;
    
   
}
 
 .redes__Contact{ 
     display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
}
 
 .redes__Contact ul li {
     display: inline-block;
     margin: 10px;
     width: 50px;
     height: 50px;
     text-align: center;
 }
 .redes__Contact ul li a{
     display: block;
     padding: 0% 10px;
     background: black;
     color: white;
     line-height: 50px;
     font-size: 20px;
     box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2) ;
     transition: .2s;
 }
 .redes__Contact ul:hover a{
     filter: blur(2px);
 }
 .redes__Contact ul li a:hover{
     filter: none;
 }
 .redes__Contact ul li .facebook:hover{
     background: blue ;
 }
 .redes__Contact ul li .instagram:hover{
     background: purple ;
 }
 .redes__Contact ul li .whatsapp:hover{
     background: green ;
 }
 
 
 /*body pages nosotros*/
 .grid__container{ 
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;} 

     .grid__right{
    padding: 5px ; 
     margin : 3px
    }
    .grid__left {
        padding: 5px;
        margin: 3px;
    }
    .grid__medium{
        padding: 5px;
        margin: 3px;
        position: relative;

    }
    .grid__medium img{
        opacity: 0.5;
    }
    .grid__text {
        position: absolute;
        top: 200px ;
        font-size: 100px;
       justify-items: center;
        
     }
     .grid__medium .grid__text  p{
         align-items: center;
         font-size: 25px;
         padding: 60px;
     }
    
     
     
     
     
   
     
 /*body page contacto*/
 .grid__containerOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } 

form{
    position: absolute;
    display: flexbox;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    text-align: center;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;
    padding: 15px;
    width: 80%;
    margin: 20px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 300ms;
}

input:focus , textarea:focus{
    border-bottom-color:  #d57eeb ;
}
 button{
     border: none;
     outline: none;
     background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
     padding: 15px;
     border-radius: 5px;
     width: 150px;
     color: white;
    }
button:hover{
    transform: scale( 1.05);
    
}
 //PAGES PREGUNTAS FRECUENTES//
 
 .questiontitle{
     font-size: 15px + 10px;
     text-decoration-line: underline;
     margin: 60px -20px ;

 }
 .container_accordion{
     width: 90%;
 }
 .accordion-item{
     background-color: transparent;
     border: none;
     padding: 10px;
     margin-bottom: 40px - 20px;
    

 }
 .accordion-button{
     width: 200 - 100;
     height: 60px;
     color: black;
     font-weight: bold;
     text-align: left;
     text-decoration: none;
 }

 //location//

  .location{ 
   visibility: none;
   text-align: center;
   font-size: 30px;
   a { 
       text-decoration: none;
   }
   i { color: palevioletred;
     
      }
  .location__text { 
      color: black;
  }

   
   }
   
  






 /*mediaqueries*/
 @media only screen and ( min-width: 768px ) {
 body { grid-template-areas: "header" "nav" "section" "footer";
        grid-template-columns: 1fr; }

 h1 { width: 100%;}
 
 
 .gallery { width: 100%;}
 
 .buttonIndex { text-align: center;} 
}
 


@media only screen and (max-width:425px) {
     body {
         grid-template-areas: "header" "nav" "section" "footer";
         grid-template-columns: 1fr ;}
    .navbar-toggler { width: 60px;
           height: 60px; }
     h2 {
         display: none;
     }
     .gallery{
         display: none;
     }
     .buttonIndex{
         text-align: center;
         margin-bottom: 50%;
     }
     .container-fluid{
         width: auto;
         height: auto;
     }
     .carousel-inner img   {
         width: auto;
         height: auto;
     }
     .location{
         visibility: visible;
         margin: auto;
         padding-bottom: 100px
         ;
     }
}