* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: 'Bebas Neue';
}

/*HEADER*/
h1 {
  color: orange;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.gallery__Item img {
  max-width: 320px;
  border-radius: 50%;
  padding: 10px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 5px;
}

h2 {
  text-align: center;
  overflow: hidden;
}

.containerButton {
  text-align: center;
}

/*Nav*/
nav {
  margin: auto;
}

.navbar-brand {
  border-radius: 40%;
}

/*carrousel*/
/*footer*/
footer {
  background-color: black;
}

.redes__Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes__Contact ul li {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.redes__Contact ul li a {
  display: block;
  padding: 0% 10px;
  background: black;
  color: white;
  line-height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.redes__Contact ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes__Contact ul li a:hover {
  -webkit-filter: none;
          filter: none;
}

.redes__Contact ul li .facebook:hover {
  background: blue;
}

.redes__Contact ul li .instagram:hover {
  background: purple;
}

.redes__Contact ul li .whatsapp:hover {
  background: green;
}

/*body pages nosotros*/
.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid__right {
  padding: 5px;
  margin: 3px;
}

.grid__left {
  padding: 5px;
  margin: 3px;
}

.grid__medium {
  padding: 5px;
  margin: 3px;
  position: relative;
}

.grid__medium img {
  opacity: 0.5;
}

.grid__text {
  position: absolute;
  top: 200px;
  font-size: 100px;
  justify-items: center;
}

.grid__medium .grid__text p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 60px;
}

/*body page contacto*/
.grid__containerOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

input, textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 15px;
  width: 80%;
  margin: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

input:focus, textarea:focus {
  border-bottom-color: #d57eeb;
}

.buttonIndex {
  overflow: hidden;
  border: none;
  outline: none;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  padding: 15px;
  border-radius: 5px;
  width: 125px;
  color: white;
}

.buttonIndex:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.questiontitle {
  overflow: hidden;
  font-size: 25px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin: 60px -20px;
}

.container_accordion {
  width: 90%;
}

.accordion-item {
  overflow: hidden;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

.accordion-button {
  width: 100;
  height: 60px;
  color: black;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.location {
  visibility: none;
  text-align: center;
  font-size: 30px;
}

.location a {
  text-decoration: none;
}

.location i {
  color: palevioletred;
}

.location .location__text {
  color: black;
}

/*mediaqueries*/
@media only screen and (min-width: 320px) {
  body {
        grid-template-areas: "header" "nav" "section" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  h1 {
    width: 100%;
  }
  .buttonIndex {
    text-align: center;
    overflow: hidden;
  }
  .container-fluid {
    width: auto;
    height: auto;
  }
  .carousel-inner img {
    width: auto;
    height: auto;
  }
  nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  body {
        grid-template-areas: "nav"  "section" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .buttonIndex {
    text-align: center;
    overflow: hidden;
  }
  .container-fluid {
    width: auto;
    height: auto;
  }
  .carousel-inner img {
    width: auto;
    height: auto;
  }
  .location {
    visibility: visible;
    margin: auto;
    padding-bottom: 100px;
  }
  .grid__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__left, .grid__right {
    display: none;
  }
  .container_accordion {
    width: auto;
  }
  .gallery__Item img {
    width: 105px;
    height: 105px;
  }
}
/*# sourceMappingURL=main.css.map */